{% extends "base.html" %} {% block title %}Home{% endblock %}    
{% block content %}
<h1> Create Groups</h1>
<button class="btn btn-primary">Create Groups</button>
<table class="table">
	<TH>
	<TD><b>Project Name</b></TD>
	<TD><b>Students</b></TD>
	<TD></TD>
	</TH>
    <form method="POST">
	{% for group, students in groups.items() %}
	<TR>
        <TD></TD>
        <TD>{{group}}</TD>
        <TD>{{', '.join(students)}}</TD>
        </TR>
        {% endfor %}
        </table>
Rankings by student
<table class="table">
	<TH>
	<TD><b>Student Email</b></TD>
    {% for project in projects %}
	<TD><b>{{project.projectName}}</b></TD>
    {% endfor %}
	</TH>
    <form method="POST">
	{% for student, ranks in rankings.items() %}
    <TR>
        <TD></TD>
        <TD>{{student}}</TD>
        {% for rank in ranks %}
            <TD>{{rank}}</TD>
        {% endfor %}
    </TR>
    {% endfor %}
    </table>
{% endblock %}