{% extends "base.html" %} {% block title %}Help{% endblock %}   
{% block content %}
<h1> About Team Match</h1>
<p>On the Team Match website you are able to efficiently create project groupings as an organizer or submit project rankings as a student. </p>
<p>As an organizer: </p>
<p>From the home page select the “Roster Create” button to be able to update your class roster. On this page submit the first name, last name, and email address for all the students you wish to be included in your groupings. </p>
<p>TO BE CONTINUED AS WEBSITE IS FLESHED OUT</p>

{% endblock %}