{% extends "base.html" %} {% block title %}Help{% endblock %}   
{% block content %}
<h1> About Team Match</h1>
<p>On the Team Match website you are able to efficiently create project groupings as an organizer or submit project rankings as a student. </p>
<p>As an organizer: </p>
<p>From the home page, you can start by either selecting the "Update Roster
    " or "Add Projects" button.  </p>
<p>If you select the "Update Roster"
 button, you will be taken to a page where you can input the email, first, and last names
of all the students you wish to assign to groups.</p>
<p>If you select the "Add Projects"
 button, you will be taken to a page where you can input the names of projects
students will be assigned to. You may also optionally insert the mentor names
for these projects but these fields may also be left empty. </p>
<p>Once students have submitted their rankings and you are ready to create project
    groupings, login and select the "Create Groups" button on the home page. After doing
    doing so you will be taken to a page showing a table where rows contain the 
    project name and the students assigned to that project. At the bottom of the page you 
    can also see the students' rankings for each project.
</p>
<p>As a student:</p>
<p>If you have been told to use the Team Match website
    to submit project rankings then you need to create an account and login.</p>
<p>Once on the home page you will see a button that says "Submit rankings for [email]"
    You will want to select this button and you will be taken to a page to rank
    all the projects available according to your liking. On this page, rank each project once
 and don't rank two projects the same. After doing this you can submit your rankings.
If you wish to adjust your rankings you can go back to the rankings page and resubmit.</p>


{% endblock %}