{% extends "base.html" %} {% block title %}Project Rankings{% endblock %} {% block content
    %}
    <h1>Project Rankings</h1>
    <h6>Please indicate your top 5 projects using the check boxes. Do not rank multiple projects at the same number.</h3>
  <table class="table">
	<TH>
	<TD><b>Project Name</b></TD>
	<TD><b>Ranking</b></TD>
	<TD></TD>
	</TH>
    <form method="POST">
	{% for proj in projects %}
	<TR>
	<TD></TD>
	<TD>{{proj}}</TD>
	<TD>
        <input type="checkbox" id="Rank1" name="Rank1" value="{{proj}}">
        <label for="Rank1"> Rank 1</label>
        <input type="checkbox" id="Rank2" name="Rank2" value="{{proj}}">
        <label for="Rank2"> Rank 2</label>
        <input type="checkbox" id="Rank3" name="Rank3" value="{{proj}}">
        <label for="Rank3"> Rank 3</label>
        <input type="checkbox" id="Rank4" name="Rank4" value="{{proj}}">
        <label for="Rank4"> Rank 4</label>
        <input type="checkbox" id="Rank5" name="Rank5" value="{{proj}}">
        <label for="Rank5"> Rank 5</label>
      </TD>
    </TR>
      {% endfor %}
      <TR>
        <TD></TD>
        <TD>
            <button class="btn btn-primary">Submit</button></form>
          </TD>
      </TR>
      
    </table>
  {% endblock %}